 .awsm-counter {
    height: 1em;
    font-size: 2rem;
    /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
    font-weight: bold;
    display: inline-block;
}
.awsm-counter .number-string {
    opacity: 0;
}
.awsm-counter ul {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.awsm-counter ul li {
    margin: 0;
    height: 1em;
}
.awsm-counter .number {
    position: relative;
    display: inline-block;
}
.awsm-counter .seperator {
    display: inline-block;
    height: 1em;
    line-height: 1em;
    margin: 0;
}
.awsm-counter .mn-number {
    position: relative;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}